/* h1, h2 ,h3, h4, h5, h6 {
    color: white;
} */

h3 {
    color: white;
    font-weight: 700;
    font-size: 36px;
    margin: -24px 0 0 8px;
}

p {
    color: white;
    font-size: 24px !important;
}

.btn {
    display: flex;
    justify-content: end;
}

button {
    width: 40px;
    height: 40px;
    font-size: 32px;
}


button:hover {
    cursor: pointer;
    color: green;
    background-color: #e1a121;
}